{% extends "base.html" %}
{% laod static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row w-100 mt-5">
        <div class="col-12 d-flex flex-row justify-content-start">

            <h3 class="mt-5 mb-3 contact-header"><i class="fas fa-shipping-fast mr-3"></i>
                Shipping & Returns
            </h3>
        </div>

        <div class="col-12">
            <h4 class="mt-2">Shipping Guidelines</h4>
            <p>Due to high order volume at this time, shipping may be slightly delayed. We will do our best to process
                your order as quick as possible.
            </p>
            <p>Copyrite Solutions only ships within Kenya. Please note that delays may occur due to weather or other unforeseen circumstance.

            </p>

            <h5 class="mt-5">Product And Gift Boxes</h5>
            <p>Orders placed on in-stock items before 12 p.m. Monday through Friday will ship that day. Orders places after 12 p.m.
                Monday through Thursday will ship the following day. Orders placesd after 12p.m. on Friday will ship the 
                following Monday.
            </p>

            <p>
                All shipping charges listed below are based on UPS Ground orders and will arrive with 2-7 business
                days (Sundays not included).
            </p>

            <p>
                We guarantee delivery only to the address you provide. Shipments that you re-direct and shipments to
                incorrect or incomplete addresses cannot be guaranteed to deliver on time. We do not deliver to P.O.
                boxes.
            </p>

            <h5 class="mt-5">Shipping Charges</h5>
            <p>
                <span class="font-weight-bolder text-secondary">Free shipping</span>
                is offered on all UPS Ground orders over KES6000.
            </p>

            <h6>Standard Group Shipping</h6>
            <p>Orders with a final subtotal from KES0 - KES9800 ship with a flat-rate of KES900 per address.</p>

            <h6>Second Day Shipping</h6>
            <p>Add KES2200 per address.</p>

            <h6>Next Day Air</h6>
            <p>Add KES3500 per address.</p>

            <h4 class="mt-5">Return Policies</h4>
            <p>At Copyrite solutions, we take great care and pride in selecting the highest quality products for our customers. If 
                you are not satisfied with your purchase or an item is damaged, we will find another solution. Please 
                note that returns for items purchased online are not accepted at our stores.
            </p>
            
            <h5 class="mt-5">In-Store Purchases</h5>
            <p>
                All products are eligible for an exchange within 14days of receipt. 
                Gift cards are non-refundable. If you have any questions, please contact our Guest Relations teams
            </p>
            <p>
                <span class="font-weight-bolder text-secondary">Copyrite Solutions</span>: +254 723442496,
                nyagacopyrite@gmail.com
            </p>

            <h5 class="mt-5">Online Purchase</h5>
            <p>
                <span class="font-weight-bolder text-secondary">Online purchases are not eligible for returns</span>
            </p>
            <p class="mb-5">If product does not meet satisfaction, please contact customer service at +254 723442496,nyagacopyrite@gmail.com
            </p>
        </div>
    </div>
</div>

{% endblock %}